/* styles/Header.module.css */
.header {
  background-color: #3498db;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header.scrolled {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 auto; /* Centraliza o conteúdo na barra */
  max-width: 1200px; /* Adiciona um máximo de largura */
}

.title {
  font-size: 2.5em;
  margin: 0;
  color: #fff;
}

.menuIcon {
  display: none;
  cursor: pointer;
  font-size: 1.8em;
  transition: color 0.3s;
  color: #fff;
}

.menuIcon:hover {
  color: #ddd;
}

.menuIcon.open {
  color: #ddd;
}

.nav {
  flex-grow: 1;
  text-align: right;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  display: inline;
  margin-right: 15px;
}

.navLink {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  transition: background-color 0.3s, color 0.3s; /* Adicionamos transição de cor */
  font-weight: bold;
  border-radius: 5px;
}

.navLink:hover {
  background-color: #2980b9;
  color: #fff; /* Cor ao passar o mouse */
}

/* Removendo o texto dos links ao passar o mouse */
.navLink:hover span {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navLink span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.show {
  transform: scaleY(1);
  opacity: 1;
}

@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .navList {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0; /* Ajuste para o lado direito */
    width: 100%;
    background-color: #3498db;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .navList.show {
    transform: scaleY(1);
    opacity: 1;
  }

  .navItem {
    margin: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .navItem.show {
    opacity: 1;
    transform: translateY(0);
  }

  .navLink {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s; /* Adicionamos transição de cor */
  }

  .navLink:hover {
    background-color: #2980b9;
    color: #fff; /* Cor ao passar o mouse */
  }

  .menuIcon.open {
    color: #fff;
  }
}
